body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__serif;
	@include font-size(.9);
        
        @media screen and (min-width: 600px) {
            @include font-size(1);
        }
}

@import "headings";

h1 {
    font-size: 3.15em;
}

h2 {
    font-size: 2.36em;
}

h3 {
    font-size: 2.1em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.7em;
}

h6 {
    font-size: 1.33em;
}

@import "copy";