$color__skin: #002254; //Header etc

$color__background-body: #a5a5af;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #fff;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__front_page-text: #fff;
$color__front_page-hover: purple;

$color__menu-text: #fff;
$color__menu-background: #000;
$color__footer-menu-text: #000;
$color__footer-menu-hover: #fff;
$color__footer-background: #a5a5af;